.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #00000044;
   width: 100%;
   gap: 20px;
   padding: 20px 0;
}

.footer .footer__logotipo {
   width: 100px;
}

.footer .footer__text {
   color: #FFFFFF;
   font-size: 12px;
}