@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 14px;
}

body {
   padding: 0;
   margin: 0;
   background-color: #252525;
}

#root {
   display: grid;
   min-height: 100dvh;
   grid-template-rows: 1fr auto;
}

button {
  font-family: "Poppins", sans-serif;
}

.container-form {
   background: linear-gradient(#00000022, #000000);
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 4%;
   box-sizing: border-box;
}

.container-form .logotipo {
   position: absolute;
   top: 20px;
   width: 150px;
}

.container-form .login {
   max-width: 600px;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #DEDEDE0F;
   box-shadow: 0px 1px 20px 2px #00000088;
   border-radius: 10px;
   padding: 60px;
   box-sizing: border-box;
}

.container-form .login .login__title{
   margin: 0;
   font-size: 32px;
   font-weight: 600;
   color: #FFFFFF;
   margin-bottom: 10px;
}

.container-form .login .login__text{
   margin: 0;
   font-size: 18px;
   font-weight: 300;
   color: #FFFFFF;
   text-align: center;
   line-height: 24px;
}

.container-form .login .form{
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-top: 60px;
   gap: 30px;
}

.container-form .login .form .form__group{
   display: flex;
   flex-direction: column;
}

.container-form .login .form .form__group .form__label{
   font-size: 16px;
   color: #FFFFFF;
   margin-bottom: 4px;
}

.container-form .login .form .form__group .form__input{
   background-color: #03030333;
   font-size: 16px;
   color: #FFFFFF;
   border: 1px solid #FFFFFF;
   border-radius: 4px;
   height: 56px;
   outline: none;
   box-sizing: border-box;
   padding: 0 16px;
}

.container-form .login .form .form__group .form__input:focus{
   border: 3px solid #71b8f2;
}

.container-form .login .form .form__group .form__error{
   color: #ff6d64;
   margin-top: 4px;
}

.container-form .login .form .form__button{
   background-color: #FFFFFF;
   border: none;
   border-radius: 8px;
   width: fit-content;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: 600;
   color: #000000;
   cursor: pointer;
}

@media (max-width: 500px) {
   .container-form .login {
      padding: 50px 20px;
   }
   .container-form .login .form .form__button{
      width: 100%;
   }
}